/* global part */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 500px);
    gap: 10px;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
/* header part */
nav{
    background-color: #2D25A0;
}
#home{
    background-color: aquamarine;
    padding: 10px 35px;
    margin-right: 10px;
    border-radius: 5px;
}
#live{
    background-color: aquamarine;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}
#play{
    background-color: aquamarine;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}
#about{
    background-color: aquamarine;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}
#contact{
    background-color: aquamarine;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* banner part */
.banner-back-color{
    background-color: #2D25A0;
}
button{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    border: none;
}
#banner{
    height: 410px;
}
#banner h1{
    font-size: 64px;
    color: white;
    margin-bottom: 10px;
}
#banner img{
    width: 300px;
}
/* card part */
.card{
    padding: 15px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card:hover{
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}
.card img{
    width: 300px;
    height: 256px;
}
/* footer top */
.footet-top{
    margin-top: 15px;
}
#footer-Top img{
    width: 300px;
}
.w-40{
    width: 40%;
}
/* footer */
footer>img{
    width: 400px;
}
.icon img{
    width: 30px;
}